---
import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'
import { Image } from 'astro:assets';
import table2 from '../assets/table2.jpg';
import fam from '../assets/fam.jpg';
import vege from '../assets/vege.jpg';
import clay from '../assets/clay.jpg';
import comp from '../assets/comp.jpeg';

import lyvia from '../assets/staff/lyvia.png';

import nik from '../assets/staff/nik.png';
---
<html lang="en">
    <head>
        <title>About | MADRAS</title>
    </head>
    <body>
        <Navbar/>
        <h1 style="text-align:center;">Staff</h1>
        <div id="staff-photos">
            <div class="staff-wrap">
                <Image class="staff-img" src={nik} alt="Lyvia Huang"></Image>
                <div class="staff-info">
                    <h2>Nikolas Dyer</h2>
                    <p>Owner/Manager</p>
                </div>
            </div>

            <div class="staff-wrap">
                <Image class="staff-img" src={lyvia} alt="Lyvia Huang"></Image>
                <div class="staff-info">
                    <h2>Lyvia Huang</h2>
                    <p>Co-Owner/Head Chef</p>
                </div>
            </div>
            
        </div>
        <div id="mission">
            <h1>Our Mission</h1>

            
            <div id="m-grid">
                
                <div class="mission-desc">
                    <p>
                        The dream of a restaurant started in college, where homemade meals became a source for the nostalgia students desperately wanted to feel once becoming independent. Through their shared love for Indian cuisine, Evan and Karthik cooked meals using recipes passed down through generations in Karthik's family, and eventually, this grew into a desire to cook meals for our entire community.
                        <br>
                        At this restaurant, we aspire to carry the legacy given to us by Karthik's ancestors from India through our authentic vegetarian cuisine. We strive for our customers to feel the same sense of nostalgia when Karthik and Evan cooked for themselves in college with their parents recipes.
                    </p>
                </div>
                <div id="mission-image">
                    <Image id="m-img" src={table2} alt="food on table"/>
                </div>
            </div>
        </div>

        <div id="approach">
            <div class="header">
                <h1>Our Approach</h1>
            </div>
            <div class="desc">
                <p>
                    Our approach focuses on 3 components: <strong>authenticity</strong>, <strong>taste</strong>, and <strong>sustainability</strong>. This is showcased through the route our food takes from the farm to the table.
                </p>
            </div>
        </div>

        <div id="approach-steps">
            <div class="step">
                <div class="text">
                    <p>The majority of our ingredients are locally sourced, allowing us to maintain freshness and flavor.</p>
                </div>
                <div class="step-img">
                    <Image class="step-img" style="width: 75%;" src={fam} alt="family in feild"/>
                </div>
            </div>
            <div class="step">
                <div class="text">
                    <p>All of our ingredients are prepped the day of, keeping our food tasty and fresh.</p>
                </div>
                <Image class="step-img" style="width: 75%;" src={vege} alt="veges on a table"/>
            </div>
            <div class="step">
                <div class="text">
                    <p>We use an in-house tandoor to make our breads to maintain tradition.</p>
                </div>
                <Image class="step-img" style="width: 75%;" src={clay} alt="woman"/>
            </div>
            <div class="step">
                <div class="text">
                    <p>We compost kitchen scraps to reduce waste, exemplifying sustainable cooking practices.</p>
                </div>
                <Image class="step-img" src={comp} alt="composting"/>
            </div>
            <div class="step">
                <div class="text">
                    <p>We donate our excess food to the Atlanta Community Food Bank to give back to the community and reduce waste.</p>
                </div>
                <!-- <Image/> -->
            </div>
        </div>

        <Footer/>
    </body>
</html>

<style lang="scss">

    #staff-photos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .staff-wrap {
            // width: min-content;
            text-align: center;
            height: 25%;
            .staff-img {
                border-radius: 100rem;
                object-fit: scale-down;
            }
            .staff-info {
                text-align: center;

            }

        }
        
    }

    #mission {
        h1 {
            text-align:center;
        }
        #m-grid {
            display: grid;

            grid-template-areas: "text image";
            grid-template-columns: 1fr 1fr;
            .mission-desc {
                grid-area: text;
                margin-left: 4rem;
            }
            #m-img {
                grid-area: image;
            }
        }
    }

    #approach > * {
        text-align: center;
    }

    #approach-steps {
        .step {
            display: grid;
            grid-template-colums: 1fr 1fr;
            &:nth-child(odd) {
                // grid-template-columns: max-content;
                grid-template-areas: "image text";
            }
            &:nth-child(even) {
                grid-template-areas: "text image";
                
            }
            margin: 2rem;
            .step-img {
                grid-area: image;
                object-fit: scale-down;
                width: 90%;
                height: min-content;
            }

            div.text {
                text-wrap: pretty;
                grid-area: text;
                text-align: center;
                vertical-align: middle;
                p {
                    
                    
                }
            }
            height: min-content
        }
    }

</style>